{% load django_bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}


<div class="py-5 text-center">
    <h2>LOGIN</h2>
</div>

<div class="container">
    <form name="member_create_form" method="POST" action=" {% url 'apps:member_login' %} ">
        {% csrf_token %}


        <div class="form-group d-flex justify-content-center">
            <div class="col-6">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="Login Email">
                <div class="invalid-feedback">
                    Please enter a valid email address for shipping updates.
                </div>
            </div>
        </div>
        <br>
        <div class="form-group d-flex justify-content-center">
            <div class="col-6">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="Login Password">

            </div>
        </div>
        <br>
        <div class="gap-2 d-flex justify-content-center">
            <a href="{% url 'home' %}" class="btn btn-outline-dark btn-lg" type="button" tabindex="-1" role="button"
               aria-disabled="true">
                CANCEL
            </a>
            <button class="btn btn-outline-dark btn-lg" type="submit" tabindex="-1" role="button" aria-disabled="true">
                SUBMIT
            </button>


        </div>
    </form>


</div>


