{% load django_bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}


<div class="py-5 text-center">
    <h2>SIGNUP FORM</h2>
</div>

<div class="d-flex justify-content-center">

    <form class="form-inline w-50" name="member_create_form" method="POST" action=" {% url 'apps:member_create' %} ">
        {% csrf_token %}
        {% bootstrap_form form %}

        <div class="gap-2 d-flex justify-content-center">
            <a href="{% url 'home' %}" class="btn btn-outline-dark btn-lg" type="button" tabindex="-1" role="button"
               aria-disabled="true">
                CANCEL
            </a>
            <button class="btn btn-outline-dark btn-lg" type="submit" tabindex="-1" role="button" aria-disabled="true">
                SUBMIT
            </button>
        </div>

    </form>


</div>