{% load django_bootstrap5 %}

<html lang="en">
{% bootstrap_css %}
{% bootstrap_javascript %}

<body>

<div class="container my-5">
    <div class="position-relative p-5  text-muted bg-body border border-dashed rounded-5">

        <h1 class="text-body-emphasis text-center">What is Scrap Publisher?</h1>
        <br>
        <p class="col-lg-6 mx-auto mb-4 text">
            If new information or updates occur within your group, you can create and subscribe to an RSS feed for them.
            By using an RSS feed, you can easily and quickly check for any updates, and this can help facilitate
            communication and collaboration within the group.
            <br><br>
            Additionally, by using a service that connects RSS feeds with email, you can receive RSS feeds via email. By
            setting it up this way, you can immediately receive updates via email and stay on top of your work or
            project progress in real-time.
        </p>
        <div class="text-center gap-3 mb-5">
            <button class="d-inline-flex btn btn-primary btn-lg px-6" type="button">SIGN UP</button>
            <button class="btn btn-outline-secondary btn-lg px-6" type="button">LOGIN</button>
        </div>
    </div>
</div>

</body>
</html>